body {
    background-color: #57a4f1;  
    /* background-color: #e9ecef;  */
    background-color: #3dc2eb;

    background-size: cover;
    padding-left: 20px;
    font-size: 25px;

    /* .introduction{
   text-align: center;
} */
#welcome-message {
    font-family: fantasy;
    color: #FC8600;
    color: #000;
}
.main {
    text-align: center;
}
#welcome-story {
    color: #41709b;
    /* color: #6e2c00; */
}
    h1 {
 
        color: #6e2c00;
        /* color: #1c2833; */
    }
    input{
        widows: 100%;
    }